<%- include('header') %> <!-- Bao gồm phần header -->

<div class="contact-container">
  <h1>Liên hệ</h1>
  <p>Bạn có thể liên hệ với chúng tôi qua:</p>
  <ul>
    <li>Email: nguyenthiaitran@gmail.com</li>
    <li>Số điện thoại: 0849700241</li>
  </ul>
</div>

<%- include('footer') %> <!-- Bao gồm phần footer -->
