<%- include('header') %> <!-- Bao gồm header -->

<div class="home-container">
  <h1>Trang chủ</h1>
  <p>Chào mừng bạn đến với website của chúng tôi!</p>
</div>

<%- include('footer') %> <!-- Bao gồm footer -->
